/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.navbar {
  align-items: center;
  background: linear-gradient(#42d979,
      #79f583);
  height: 85px;
  margin-bottom: 20px;
  border: #fff;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #fff;
  font-size: 1.3rem;
  font-family: Roboto;
  font-weight: 800;
}

.btn-primary {
  color: black;
  width: 110px;
  background-color: white;
  border-color: black;
}

.btn-primary:hover{
  font-weight: bolder;
  background-color: transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

footer {
  background: linear-gradient(#42d979, #29f13a);
  width: 100%;
  margin-top: 500px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#hrfooter {
  background-color: white;
  height: 2px;
  width: 50%;
  margin-left: 0;
}

#divfooter {
  width: 94%;
}

#iconsfooter {
  text-align: center;
  padding-top: 20px;
}

#pfooter {
  font-size: 17px;
}