<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sistemaDeAdocaoParaAnimais</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/sistemaDeAdocaoParaAnimais.styles.css" asp-append-version="true" />
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home"
                                asp-action="Index" style="color: black; font-size: 28px;">AmoPets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: black; font-size: 18px; margin-top: 10px;">Adotar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: black; font-size: 18px; margin-top: 10px;">Divulgar</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="#" style="color: black; font-size: 18px; margin-top: 10px;">Contribuir</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Duvidas"
                                style="color: black; margin-top: 10px; font-size: 18px;">Dúvidas</a>
                        </li>
                    </ul>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn btn-light me-md-2 " type="button">Entrar</button>
                        <button class="btn btn btn-light me-md-2 " type="button">Cadastre-se</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProjetoTcc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
