.navbar {
  align-items: center;
  background: linear-gradient(#00a83e,
      #79f583);
  height: 95px;
  margin-bottom: 20px;
  border: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #fff;
  font-size: 1.3rem;
  font-family: Roboto;
  font-weight: 800;
}

.btn-primary {
  color: black;
  width: 110px;
  background-color: white;
  border-color: black;
}

.btn-primary:hover{
  font-weight: bolder;
  background-color: transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.nav-link:hover {
  color: black;
}

.btn {
  margin-left: 2px;
}