<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sistemaDeAdocaoParaAnimais</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/sistemaDeAdocaoParaAnimais.styles.css" asp-append-version="true" />
  
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">

            <div class="container">
                @await Component.InvokeAsync("Menu")
            </div>
        </nav>
    </header>

    <div class="container" style="margin-bottom: 650px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-white">
        <div class="container-fluid pt-5 pb-5" id="divfooter">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="font-weight-bold mb-3">ADOTE</h5> <hr id="hrfooter">
                    <p id="pfooter">Adote com Responsabilidade</p>
                    <p id="pfooter">Quem pode adotar ?</p>
                </div>
                <div class="col-md-4">
                    <h5 class="font-weight-bold mb-3">DIVULGUE UM ANIMAL</h5> <hr id="hrfooter">
                    <p id="pfooter">Cadastre um Animal</p>
                </div>
                 <div class="col-md-4">
                    <h5 class="font-weight-bold mb-3">SOBRE NÓS</h5> <hr id="hrfooter">
                    <p id="pfooter">Fale Conosco</p>
                    <p id="pfooter">Perguntas Frequentes</p>
                    <p id="pfooter">Parceiros</p>
                    <p id="pfooter">Termo de Uso de Política de Privacidade</p>
                </div>
            </div>

            <div id="iconsfooter" class="flex gap-3 mt-16 justify-center">
                <a href="#" target="_blank">
                <img loading="lazy" src="https://www.amigonaosecompra.com.br/images/instagram-1577ddddf7aaefce41fe6e89b4d81de3.png?vsn=d">
                </a>
                <a href="#" target="_blank">
                <img loading="lazy" src="https://www.amigonaosecompra.com.br/images/facebook-42cdb13b597064462896ab0d32096a36.png?vsn=d">
                </a>
                <a href="#" target="_blank">
                <img loading="lazy" src="https://www.amigonaosecompra.com.br/images/youtube-df83385dafd64efd85799e8a2daa2ef0.png?vsn=d">
                </a>
                <a href="#" target="_blank">
                <img loading="lazy" src="https://www.amigonaosecompra.com.br/images/twitter-e2c877a4789b475409a4c93237faca71.png?vsn=d">
                </a>
              </div>

            <div class="flex flex-col mt-10 text-center items-center">      
                <img src="~/img/logopets.png" style="width: 120px;" id="imgfooter">      
            <div class="text-xs mt-3">Todos os direitos reservados.</div>
            </div>

        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
