<form>
  <div class="enviar-email">
    <div class="ing-top">
    <img class="img" src="~/img/banner.jfif" alt="Banner adote um gatinho" width="100%" height="300px">
    </div>
    <h2>Recuperação de senha</h2>
    <label for="exampleInputEmail1" class="form-label">Seu Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu Email">
    <div id="emailHelp" class="form-text">Nós enviaremos um código no seu e-mail para você redefinir sua senha.</div>
    <button class="botao" type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>