@{
    ViewData["Title"] = "Home Page";
}

<div class="container_duvidas">
    <section id="section_duvidas">
        <h2 class="title">Perguntas Frequentes</h2>
        <div class="faq"> 
            <div class="question">
                <h3>Waht is JavaScript?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    JAVA SAIJDAIS DAOKDAI DJAID JAISDJA SIDJADIASD JAID JA DIAJ DSAIDJAJS DAIDJ ADJ SI
                </p>
            </div>
        </div>

         <div class="faq"> 
            <div class="question">
                <h3>Waht is JavaScript?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    JAVA SAIJDAIS DAOKDAI DJAID JAISDJA SIDJADIASD JAID JA DIAJ DSAIDJAJS DAIDJ ADJ SI
                </p>
            </div>
        </div>

         <div class="faq"> 
            <div class="question">
                <h3>Waht is JavaScript?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="answer">
                <p>
                    JAVA SAIJDAIS DAOKDAI DJAID JAISDJA SIDJADIASD JAID JA DIAJ DSAIDJAJS DAIDJ ADJ SI
                </p>
            </div>
        </div>

    </section>
</div>

<script src=~/Home/duvidas.cshtml.js></script>