@model sistemaDeAdocaoParaAnimais.Models.Usuarios

<header class="header_wrapper">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="#" class="navbar">
                <img src="~/img/logopets.png" style="width: 90px;" alt="">
                <span style="color: white; font-size: 35px; font-family: Roboto;  font-weight: 800;">AnimalPets</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link"
                            style="color: white; font-size: 1.3rem; font-family: Roboto;  font-weight: 800;">Quero
                            adotar</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"
                            style="color: white; font-size: 1.3rem; font-family: Roboto;  font-weight: 800;">Quero
                            cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"
                            style="color: white; font-size: 1.3rem; font-family: Roboto;  font-weight: 800;">Quero
                            ajudar</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"
                            style="color: white; font-size: 1.3rem; font-family: Roboto;  font-weight: 800;">Parcerias</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown" style="margin-left: 25px;">
                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@Html.DisplayFor(model => model.Avatar)" alt="Admin" id="avatar" class="circles"
                        width="80"><br>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
                    style="width: 250px; height: 270px; margin-top: -22px;">
                    <li><a class="dropdown-item" style="font-size: 16px; font-weight: 500;" asp-controller="Animais"
                            asp-action="CreateAnimalCaracteristica">Cadastar novo
                            animal</a></li>
                    <li><a class="dropdown-item" style="font-size: 16px; font-weight: 500;" asp-controller="Usuarios"
                            asp-action="Profile">Meu perfil</a></li>
                    <li><a class="dropdown-item" style="font-size: 16px; font-weight: 500;" asp-controller="AlterarSenha"
                            asp-action="Index" asp-route-id="@Model.UsuarioId">Alterar Senha</a></li>
                    <li><a class="dropdown-item" style="font-size: 16px; font-weight: 500;" asp-controller="Usuarios"
                            asp-action="Edit" asp-route-id="@Model.UsuarioId">Editar Perfil</a></li>
                    <li><a class="dropdown-item" style="font-size: 16px; font-weight: 500;" asp-controller="Login"
                            asp-action="Sair">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>