@model sistemaDeAdocaoParaAnimais.Models.Animal

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutDeslogado";
}

<h1>Create</h1>

<h4>Animal</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FkUsuarios" class="control-label"></label>
                <select asp-for="FkUsuarios" class="form-control" asp-items="ViewBag.FkUsuarios"></select>
            </div>
            <div id="div1">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Raca" class="control-label"></label>
                    <input asp-for="Raca" class="form-control" />
                    <span asp-validation-for="Raca" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cor" class="control-label"></label>
                    <input asp-for="Cor" class="form-control" />
                    <span asp-validation-for="Cor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Porte" class="control-label"></label>
                    <input asp-for="Porte" class="form-control" />
                    <span asp-validation-for="Porte" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Especie" class="control-label"></label>
                    <input asp-for="Especie" class="form-control" />
                    <span asp-validation-for="Especie" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Estado" class="control-label"></label>
                    <select name="estado" id="estado" class="form-select" style="width: 355px;" asp-for="Estado"
                        aria-label="Default select example">
                        <option selected>Selecione</option>
                        <option value="Acre">Acre</option>
                        <option value="Alagoas">Alagoas</option>
                        <option value="Amapá">Amapá</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Bahia">Bahia</option>
                        <option value="Ceará">Ceará</option>
                        <option value="Distrito Federal">Distrito Federal</option>
                        <option value="Espírito Santo">Espírito Santo</option>
                        <option value="Goiás">Goiás</option>
                        <option value="Maranhão">Maranhão</option>
                        <option value="Mato Grosso">Mato Grosso</option>
                        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                        <option value="Minas Gerais">Minas Gerais</option>
                        <option value="Pará">Pará</option>
                        <option value="Paraíba">Paraíba</option>
                        <option value="Paraná">Paraná</option>
                        <option value="Pernambuco">Pernambuco</option>
                        <option value="Piauí">Piauí</option>
                        <option value="Rio de Janeiro">Rio de Janeiro</option>
                        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                        <option value="Rondônia">Rondônia</option>
                        <option value="Roraima">Roraima</option>
                        <option value="Santa Catarina">Santa Catarina</option>
                        <option value="São Paulo">São Paulo</option>
                        <option value="Sergipe">Sergipe</option>
                        <option value="Tocantins">Tocantins</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Energia" style="width: 500px;" class="form-label"></label>
                    <select asp-for="Energia" style="width: 355px;" class="form-select"
                        aria-label="Default select example">
                        <option class="form-label" selected>Selecione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>

                    </select>
                    <span asp-validation-for="Energia" class="text-danger"></span>
                </div>
            </div>
            <div id="div2">
                <div class="col-md-4">
                    <label asp-for="Humor" style="width: 500px;" class="form-label"></label>
                    <select asp-for="Humor" style="width: 355px;" class="form-select"
                        aria-label="Default select example">
                        <option class="form-label" selected>Selecione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>

                    </select>
                    <span asp-validation-for="Humor" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Apego" style="width: 500px;" class="form-label"></label>
                    <select asp-for="Apego" style="width: 355px;" class="form-select"
                        aria-label="Default select example">
                        <option class="form-label" selected>Selecione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>

                    </select>
                    <span asp-validation-for="Apego" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Adestramento" style="width: 500px;" class="form-label"></label>
                    <select asp-for="Adestramento" style="width: 355px;" class="form-select"
                        aria-label="Default select example">
                        <option class="form-label" selected>Selecione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>

                    </select>
                    <span asp-validation-for="Adestramento" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="Vacinado" style="width: 500px;" class="form-label"></label>
                    <select asp-for="Vacinado" style="width: 355px;" class="form-select"
                        aria-label="Default select example">
                        <option class="form-label" selected>Selecione</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    <span asp-validation-for="Vacinado" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="Castrado" style="width: 500px;" class="form-label"></label>
                    <select asp-for="Castrado" style="width: 355px;" class="form-select"
                        aria-label="Default select example">
                        <option class="form-label" selected>Selecione</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    <span asp-validation-for="Castrado" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="Vermifugado" style="width: 500px;" class="form-label"></label>
                    <select asp-for="Vermifugado" style="width: 355px;" class="form-select"
                        aria-label="Default select example">
                        <option class="form-label" selected>Selecione</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    <span asp-validation-for="Vermifugado" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="Sexo" style="width: 500px;" class="form-label"></label>
                    <select asp-for="Sexo" style="width: 355px;" class="form-select"
                        aria-label="Default select example">
                        <option class="form-label" selected>Selecione</option>
                        <option value="Macho">Macho</option>
                        <option value="Fêmea">Fêmea</option>
                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="EstadoAdocaoPet" class="form-label"></label>
                    <select asp-for="EstadoAdocaoPet" style="width: 355px;" class="form-select"
                        aria-label="Default select example">
                        <option class="form-label" selected>Selecione</option>
                        <option value="Disponível">Disponível</option>
                        <option value="Adotado">Adotado</option>
                    </select>
                    <span asp-validation-for="EstadoAdocaoPet" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Escolha a foto do seu pet</label>
                    <input class="form-control" type="file" id="photoInput">
                </div>
                <div class="form-group" style="visibility: hidden;">
                    <label asp-for="ImagensPet" class="control-label"></label>
                    <input asp-for="ImagensPet" id="photo" class="form-control" />
                    <span asp-validation-for="ImagensPet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Back to List</a>
</div>
