.popup{
  width: 400px;
  background: rgb(179, 179, 179);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden; 
  transition: transform 0.4s, top 0.4s;
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.bntPopup{
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup button{
   width: 100%;
   margin-top: 50px;
   padding: 10px 0;
   background: #6fd649;
   color: #fff;
   border: 0;
   outline: none;
   font-size: 18px;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.container-exibir {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 35px;
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
  flex-direction: column;
}

.textArea {
  margin-top: 20px;
  margin-left: 95px;
  width: 925px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90%;
  height: 180px;
  overflow: hidden;
  width: 195px;
}

.circle img {
  height: 15rem;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90%;
  height: 55px;
  overflow: hidden;
  width: 65px;
}

.circles img {
  height: 7rem;
}

.carousel-item {
  animation-delay: 3s;
  transition: 3.5s ease;
  width: 100%;
}

.carousel-item img {
  width: 100%;
}

.titulo_amigos {
  margin-top: 50px;
}

.titulo_amigos h1 {
  font-size: 40px;
  font-family: Roboto;
  font-weight: 400;
}

.titulo_Cuidados h2 {
  font-family: Roboto;
  font-weight: 600;
}

.titulo_adocao {
  margin-top: 35px;
}

.titulo_adocao h2 {
  font-family: Roboto;
  font-weight: 600;
}


.card-group {
  margin-top: 30px;
  gap: 10px;
}

.button_VerMais {
  align-items: center;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 10px;
}

.btn_VerMais {
  font-size: 18px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: black;
  font-weight: bolder;
  background-color: #A8EB6B;
  border: 1px solid;
  border-radius: 5px;
}

.btn_VerMais:hover {
  transition: 1s ease;
  color: black;
  background-color: #fff;
}

.titulo_adocao {
  margin-top: 50px;
}

.beneficios_adocao {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 50px;
}

.beneficios-item {
  margin-left: 20px;
  height: 350px;
}

.beneficios-item img {
  height: 300px;
  width: 500px;
}

.list-beneficios-item {
  list-style: none;
  font-size: 16px;
  margin: 15px;
}

.Cuidados_Pet {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
  gap: 50px;
}

.Cuidados_item {
  margin-left: 20px;
  height: 350px;
}

.Cuidados_item img {
  height: 300px;
  width: 500px;
}

.list-cuidados-item {
  list-style: none;
  font-size: 16px;
  margin: 15px;
}

.container_duvidas {
  width: 100%;
  align-items: center;
}

#section_duvidas {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 35px;
  margin: 2rem 0rem;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 20px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 18px;
}

.faq.active .answer {
  max-height: 200px;
}

html {
  font-size: 14px;
}

a {
  margin: 20px;
  text-align: center;
  text-decoration: none;
  color: rgb(19, 19, 19);
  font-size: 1.5rem;
  font-family: -webkit-body;
  font-weight: 600;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #fff;
}

/* Inicio  css Recovery */
.enviar-email {
  height: center;
  background-color: white;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 50px;
  border-radius: 42px;
  box-shadow: 9px 9px 18px #cfcfcf,
    -9px -9px 18px #ffffff;
}

.botao {
  margin-top: 25px;
  font-family: sans-serif;
  border: solid 1px;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(32, 89, 245);
  width: 100%;
  height: 2em;
  color: #ffffff;
}

/* Fim do css Recovery */

/* Inicio do Css profile */
.main-body {
  padding: 15px;
}

.cards {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}


.exibirLado {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  max-width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 20px;
}

.card-body-profile {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
  height: 420px;
}

.rounded-circle {
  margin-top: 30px;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}

.h-100 {
  height: 100% !important;
}

.shadow-none {
  box-shadow: none !important;
}


body {
  font-size: larger;
}

div#esquerda {
  position: relative;
  float: left;
  /*Editei*/
  padding-left: 30px;
  padding-top: 5px;
  padding-right: 25px;
}

div#direita {
  position: relative;
  /*Editei*/
  padding-top: 10px;
}

.icons {
  width: 1.0rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.bnt {
  background: linear-gradient(#42d979, #79f583);
  /*Editei*/
  border: 0 solid;
  border-radius: 10px;
  height: 50px;
  width: 450px;
  position: absolute;
  margin-top: 21%;
  right: 17%
}


.bnt:hover {
  transition: 1s ease;
  color: black;
  background-color: rgb(17, 233, 53);
}

img#perfil {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  /*Editei*/
}

div#historia {
  width: 730px;
  height: 600px;
  padding-right: 50px;
  position: relative;
  float: left;
  /*Editei*/
  padding-top: 5px;
  padding-right: 25px;
  text-align: justify;
}

.card {
  margin-top: 30px;
  /*Editei*/
}

.card-img-top {
  max-width: 255px;
  /*Editei*/
  max-height: 175px;
  min-height: 175px;
  min-width: 255px;
}

.cardq {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #cfcfcf,
    -5px -5px 10px #ffffff;
  margin: 10px;
  margin-top: 25px;
  width: 16rem;
  height: 25rem;
}

.cardq:hover {
  -webkit-transform: scale(1.06);
}

img#avatar:hover {
  -webkit-transform: scale(1.1);
}

.bntbio {
  background-color: #A8EB6B;
  font-size: 16px;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  height: 40px;
  width: 150px;
}

.bntbio:hover {
  transition: 1s ease;
  color: black;
  background-color: rgb(17, 233, 53);
}



@media (max-width: 1024px) {

  .card-img-top {
    margin-top: 10px;
    max-width: 237px;
    /*Editei*/
    max-height: 140px;
    min-height: 140px;
    min-width: 237px;
  }

  .cardq {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 5px 5px 10px #cfcfcf,
      -5px -5px 10px #ffffff;
    margin: 10px;
    margin-top: 30px;
    width: 15rem;
    height: 23rem;
  }

  .cardq:hover {
    -webkit-transform: scale(1.04);
  }

  .bntbio {
    align-items: center;
    text-align: center;
    background-color: #A8EB6B;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    height: 35px;
    width: 135px;
  }

  .button_VerMais {
    align-items: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 45px;
    padding-top: 10px;
  }

  .btn_VerMais {
    font-size: 18px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    background-color: #A8EB6B;
    border: 1px solid;
    border-radius: 5px;
  }

  .beneficios-item {
    margin-left: 20px;
    height: 350px;
  }

  .beneficios-item img {
    height: 400px;
    width: 500px;
  }

  .titulo_adocao h2 {
    font-family: Roboto;
    font-weight: 600;
  }

  .titulo_Cuidados {
    margin-top: 45px;
  }

  .titulo_Cuidados h2 {
    font-family: Roboto;
    font-weight: 600;
  }


  .Cuidados_item {
    margin-left: 20px;
    height: 350px;
  }

  .Cuidados_item img {
    height: 400px;
    width: 500px;
  }

  div#esquerda {
    position: relative;
    float: left;
    /*Editei*/
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 15px;
  }

  img#perfil {
    width: 350px;
    height: 550px;
    border-radius: 15px;
    /*Editei*/
  }

  div#historia {
    width: 530px;
    height: 600px;
    padding-right: 50px;
    position: relative;
    float: left;
    padding-right: 25px;
    text-align: justify;
  }

  div#direita span {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 800;
  }

  div#historia span {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 800;
  }

  .bnt {
    background: linear-gradient(#42d979, #79f583);
    /*Editei*/
    border: 0 solid;
    border-radius: 10px;
    height: 50px;
    width: 450px;
    position: absolute;
    margin-top: 41%;
    right: 7%;
  }

}


@media(max-width: 990px) {
  .modal-dialog {
    margin-top: 120px;
  }

  .carousel-inner {
    margin-top: 125px;
  }

  .beneficios_adocao {
    margin-top: 20px;
  }

  .beneficios-item img {
    height: 200px;
    width: 300px;
  }

  .beneficios-item{
    margin-left: -30px;
  }

  .list-beneficios{
    margin-left: -30px;
  }

  .list-beneficios-item {
    width: 350px;
    text-align: justify;
    list-style: none;
    font-size: 14px;
    margin: 5px;
  }

  .titulo_Cuidados{
    margin-top: -110px;
  }

  .Cuidados_Pet{
    margin-top: 30px;
  }

  .Cuidados_item{
    margin-top: 10px;
  }

  .Cuidados_item img{
    height: 200px;
    width: 300px;
  }

  .list-cuidados-item {
    width: 350px;
    text-align: justify;
    list-style: none;
    font-size: 14px;
    margin: 5px;
  }

}